@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');






.main {
    width: 100%;
    margin: 0;
    padding: 0;

}


.alert {
    position: fixed;
    width: 80%;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    left: 10%;
    top: 25%;
    z-index: 1;

}

.alert p {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.alert .albt1 {
    border-radius: 5px;
    padding: 5px 10px 7px 7px;
}

.sect1 {
    width: 100%;
    background-image: linear-gradient(to right, rgba(4, 4, 53, 0.696), rgba(79, 78, 79, 0.541)), url("https://images.unsplash.com/photo-1441986300917-64674bd600d8?auto=format&fit=crop&q=80&w=2000");
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 0px;
    padding-bottom: 40px;

}

.sect1 p:nth-child(1) {

    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 70%;
    padding: 5px 6px 5px 10px;
    border-radius: 18px;
    font-size: 14px;
    background: linear-gradient(to right, rgba(4, 4, 53, 0.596), rgba(79, 78, 79, 0.541));
    display: none;
}

.sect1 p:nth-child(1) i {
    font-size: 8px;
    color: rgb(191, 133, 245);
}

.sect1 h1 {
    font-size: 45px;
    width: 50%;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.sect1 h1 span {
    background: linear-gradient(to right, rgb(54, 54, 242), rgb(250, 128, 250));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.main p:nth-child(3) {
    color: rgba(203, 213, 225, 0.99);
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.sect1 .btn1 {
    padding: 8px 10px;
    font-size: 14px;
    background: linear-gradient(to right, rgba(91, 91, 247, 0.9), rgba(223, 94, 223, 0.2));
    border: none;
    font-weight: 700;
    border-radius: 18px;
    color: white;
    margin-right: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect1 .btn1:hover {
    box-shadow: 0 0 3px white;
}

.sect1 .btn2 {
    padding: 8px 10px;
    font-size: 14px;
    background: linear-gradient(to right, rgba(69, 69, 72, 0.9), rgba(233, 220, 233, 0.2));
    border: none;
    font-weight: 700;
    border-radius: 18px;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect1 .btn2:hover {
    box-shadow: 0 0 3px white;
}

.sect2 {
    width: 100%;
    padding-top: 40px;
    background-color: #F8FAFC;
}

.sect2 h1 {
    font-weight: 700;
    width: 50%;
    font-size: 29px;
    padding-top: 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2di1 {
    display: flex;
    justify-content: space-between;

}

.sect2di1 p:nth-child(1) {
    color: rgba(120, 122, 125, 0.99);
    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2di1 p:nth-child(2) {
    width: 30%;
}

.sect2di1 p:nth-child(2) a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.sect2di2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}


.sect2sub1 {
    width: 45%;
    /* background-image: linear-gradient(to bottom, rgba(221, 221, 238, 0.308), rgba(6, 1, 10, 0.6)), url("https://images.unsplash.com/photo-1523275335684-37898b6baf30?auto=format&fit=crop&q=80&w=600"); */
     background-image: linear-gradient(to bottom, rgba(221, 221, 238, 0.308), rgba(6, 1, 10, 0.6)), url("https://images.unsplash.com/photo-1762071775668-68a2dfda0318?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: transform 0.6s ease;
}

.sect2sub1:hover {
    transform: translateY(-10px);
}

.sect2sub1 p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(131, 129, 129, 0.8);
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2sub1 p:nth-child(2) {
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2sub2 {
    width: 45%;
    /* background-image: linear-gradient(to bottom, rgba(221, 221, 238, 0.308), rgba(6, 1, 10, 0.6)), url("https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?auto=format&fit=crop&q=80&w=800"); */
      background-image: linear-gradient(to bottom, rgba(221, 221, 238, 0.308), rgba(6, 1, 10, 0.6)), url("https://in.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-lv-tilted-sneaker--B1UQ27DN20_PM2_Front%20view.png?wid=1090&hei=1090");
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: transform 0.6s ease;
}

.sect2sub2:hover {
    transform: translateY(-10px)
}

.sect2sub2 p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(200, 197, 204, 0.873);
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2sub2 p:nth-child(2) {
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    font-size: 21px;
    line-height: 1.1;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2sub3 {
    width: 45%;
    /* background-image: linear-gradient(to bottom, rgba(221, 221, 238, 0.308), rgba(6, 1, 10, 0.6)), url("https://images.unsplash.com/photo-1555041469-a586c61ea9bc?auto=format&fit=crop&q=80&w=800");*/
      background-image: linear-gradient(to bottom, rgba(221, 221, 238, 0.308), rgba(6, 1, 10, 0.6)), url("https://images.unsplash.com/photo-1698936061086-2bf99c7b9fc5?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-size: cover; 
    background-position: center;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    transition: transform 0.6s ease;

}

.sect2sub3:hover {
    transform: translateY(-10px)
}

.sect2sub3 p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(200, 197, 204, 0.873);
    margin-bottom: 2px;
    font-size: 13px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2sub3 p:nth-child(2) {
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    font-size: 21px;
    line-height: 1.1;
    margin-bottom: 26px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2sub4 {
    width: 45%;
    background-image: linear-gradient(to bottom, rgba(221, 221, 238, 0.308), rgba(6, 1, 10, 0.6)), url("https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?auto=format&fit=crop&q=80&w=800");
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    transition: transform 0.6s ease;

}

.sect2sub4:hover {
    transform: translateY(-10px)
}

.sect2sub4 p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(200, 197, 204, 0.873);
    margin-bottom: 2px;
    font-size: 13px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect2sub4 p:nth-child(2) {
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    font-size: 21px;
    line-height: 1.1;
    margin-bottom: 26px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.sect3 {
    width: 100%;
    padding-top: 50px;
}

.sect3di1 {
    text-align: center;
    padding-bottom: 30px;
}

.sect3di1 p:nth-child(1) {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
    color: blueviolet;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect3di1 p:nth-child(2) {
    text-transform: capitalize;
    color: black;
    font-weight: 800;
    margin-bottom: 3px;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect3di1 p:nth-child(3) {
    width: 30%;
    height: 4px;
    background-color: blueviolet;
    margin: 0 auto;
    border-radius: 10px;

}

.sect3di2 {
    margin-top: 30px;
}

.sect3di2 figure {
    width: 80%;
    margin: 20px auto;

    padding: 10px;
    border-radius: 15px;
}

.sect3di2 figure:hover {
    box-shadow: 0 0 5px gray;
}

.figsub1 {
    /* background-image: url("https://images.unsplash.com/photo-1505740420928-5e560c06d30e?auto=format&fit=crop&q=80&w=600"); */
    background-image: url("https://images.unsplash.com/photo-1660391532247-4a8ad1060817?q=80&w=881&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.figsub1 p:nth-child(1) {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    background-color: rgb(244, 240, 240);
    padding: 3px 7px;
    border-radius: 50%;
    color: rgb(91, 88, 88);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.figsub1 p:nth-child(2) {
    /* text-align: center;
    border: 1px solid white;
    width: 40%;
    position: absolute;
    transition: all 0.6s; */

    position: absolute;
    left: 50%;
    bottom: -50px;
    /* hidden below */
    transform: translateX(-50%);
    transition: all 0.4s ease;

}


.figsub1 p:nth-child(2):hover {
    bottom: 20px;
    /* moves up on hover */

}


.figcapsub1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.figcapsub1 p:nth-child(1) {
    text-transform: capitalize;
    font-size: 13px;
    background-color: rgba(201, 197, 197, 0.278);
    padding: 2px 10px 3px 10px;
    border-radius: 5px;
    color: rgb(111, 78, 230);
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.figcapsub1 p:nth-child(2) i {
    color: gold;
}

.figcapsub1 p:nth-child(2) {
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .hyp {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .pri1 {
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .pri1 span {
    color: rgb(170, 168, 168);
    text-decoration: line-through;
    font-size: 13px;

}




.figsub2 {
    /* background-image: url("https://images.unsplash.com/photo-1523275335684-37898b6baf30?auto=format&fit=crop&q=80&w=600"); */
    background-image: url("https://images.unsplash.com/photo-1561634343-3a2787687046?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.figsub2 p:nth-child(1) {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    background-color: rgb(251, 249, 249);
    padding: 3px 7px;
    border-radius: 50%;
    color: rgb(91, 88, 88);
}

.figsub2 p:nth-child(2) {
    /* text-align: center;
    border: 1px solid white;
    width: 40%;
    position: absolute;
    transition: all 0.6s; */

    position: absolute;
    left: 50%;
    bottom: -50px;
    /* hidden below */
    transform: translateX(-50%);
    transition: all 0.4s ease;

}


.figsub1 p:nth-child(2):hover {
    bottom: 20px;
    /* moves up on hover */

}


.figcapsub2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.figcapsub2 p:nth-child(1) {
    text-transform: capitalize;
    font-size: 13px;
    background-color: rgba(159, 241, 159, 0.303);
    padding: 2px 10px 3px 10px;
    border-radius: 5px;
    color: rgb(15, 240, 23);
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.figcapsub2 p:nth-child(2) i {
    color: gold;
}

.figcapsub2 p:nth-child(2) {
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

figcaption .hyp {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .pri1 {
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .pri1 span {
    color: rgb(170, 168, 168);
    text-decoration: line-through;
    font-size: 13px;
}


.figsub3 {
    /* background-image: url("https://images.unsplash.com/photo-1542291026-7eec264c27ff?auto=format&fit=crop&q=80&w=600"); */
     background-image: url("https://images.unsplash.com/photo-1698995475439-f6fa0734e30e?q=80&w=812&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.figsub3 p:nth-child(1) {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    background-color: rgb(250, 248, 248);
    padding: 3px 7px;
    border-radius: 50%;
    color: rgb(91, 88, 88);
}

.figsub3 p:nth-child(2) {
    /* text-align: center;
    border: 1px solid white;
    width: 40%;
    position: absolute;
    transition: all 0.6s; */

    position: absolute;
    left: 50%;
    bottom: -50px;
    /* hidden below */
    transform: translateX(-50%);
    transition: all 0.4s ease;

}


.figsub3 p:nth-child(2):hover {
    bottom: 20px;
    /* moves up on hover */

}


.figcapsub3 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.figcapsub3 p:nth-child(1) {
    text-transform: capitalize;
    font-size: 13px;
    background-color: rgba(227, 134, 134, 0.278);
    padding: 2px 10px 3px 10px;
    border-radius: 5px;
    color: rgb(230, 78, 81);
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.figcapsub3 p:nth-child(2) i {
    color: gold;
}

.figcapsub3 p:nth-child(2) {
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .air {
    font-weight: 700;
    font-size: 20px;
    color: rgb(63, 63, 235);
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .pri1 {
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .pri1 span {
    color: rgb(170, 168, 168);
    text-decoration: line-through;
    font-size: 13px;
}



.figsub4 {
    background-image: url("https://images.unsplash.com/photo-1572635196237-14b3f281503f?auto=format&fit=crop&q=80&w=600");
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.figsub4 p:nth-child(1) {
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    background-color: rgb(223, 219, 219);
    padding: 3px 7px;
    border-radius: 50%;
    color: rgb(91, 88, 88);
}

.figsub4 p:nth-child(2) {
    /* text-align: center;
    border: 1px solid white;
    width: 40%;
    position: absolute;
    transition: all 0.6s; */

    position: absolute;
    left: 50%;
    bottom: -50px;
    /* hidden below */
    transform: translateX(-50%);
    transition: all 0.4s ease;

}


.figsub4 p:nth-child(2):hover {
    bottom: 20px;
    /* moves up on hover */

}


.figcapsub4 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.figcapsub4 p:nth-child(1) {
    text-transform: capitalize;
    font-size: 13px;
    background-color: rgba(153, 134, 227, 0.278);
    padding: 2px 10px 3px 10px;
    border-radius: 5px;
    color: rgb(103, 78, 230);
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.figcapsub4 p:nth-child(2) i {
    color: gold;
}

.figcapsub4 p:nth-child(2) {
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .sun {
    font-weight: 700;
    font-size: 20px;
    color: rgb(11, 11, 11);
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .pri1 {
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

figcaption .pri1 span {
    color: rgb(170, 168, 168);
    text-decoration: line-through;
    font-size: 13px;
}


.sect4 {
    width: 100%;
    padding-top: 80px;
}

.sect4di1 {
    width: 80%;
    margin: 0 auto;
}

.sect4sub1 {

    border-radius: 23px;
    padding: 20px;
    background: linear-gradient(135deg, #1E40AF 0%, #7C3AED 100%);
}

.sect4sub1 p:nth-child(1) {
    background-color: rgba(149, 135, 238, 0.738);
    width: 43%;
    padding: 4px 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect4sub1 h1 {
    font-size: 35px;
    font-weight: 800;
    color: white;
    width: 70%;
    margin-left: 20px;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect4sub1 h1 span {
    color: rgb(188, 177, 157);
}


.sect4sub1 p:nth-child(3) {
    margin-left: 20px;
    width: 80%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect4sub1 .seal {
    padding: 8px 12px;
    text-transform: capitalize;
    background-color: rgba(140, 140, 235, 0.858);
    border: none;
    margin-left: 18px;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.sect4sub2 {
    margin-top: 20px;
    border-radius: 22px;
    padding: 20px;
    background-color: #0F172A;
}

.sect4sub2 p:nth-child(1) {
    background-color: rgba(236, 235, 239, 0.285);
    width: 73%;
    padding: 4px 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
    color: white;
    margin-left: 12px;
    margin-top: 20px;

}

.sect4sub2 h1 {
    font-size: 35px;
    font-weight: 800;
    color: white;
    width: 70%;
    margin-left: 15px;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;
}




.sect4sub2 p:nth-child(3) {
    margin-left: 20px;
    width: 80%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect4sub2 .join {
    padding: 8px 12px;
    text-transform: capitalize;
    background-color: rgba(97, 97, 248, 0.858);
    border: none;
    margin-left: 18px;
    border-radius: 15px;
    font-size: 17px;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.sect5 {
    width: 100%;
}

.sect5di1 {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(15 23 42);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}

.sect5di1 p:nth-child(1) {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect5di1 P:nth-child(2) {
    color: rgba(234, 232, 232, 0.827);
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect5sub1 input {
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    border: none;
    margin-bottom: 7px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect5sub1 .subscr {
    padding: 10px 10px;
    font-size: 14px;
    width: 97%;
    border: none;
    background: linear-gradient(to right, blue, purple);
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 12px;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sect5sub1 .subscr:hover {
    box-shadow: 0 0 5px white;
}

.sect5di1 P:nth-child(4) {
    font-size: 12px;
    margin-top: 10px;
    color: rgb(147, 133, 197);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foo {
    width: 100%;
    background-color: rgb(15 23 42);
    padding-top: 50px;

}

.foosub1 {
    width: 90%;
    color: white;
    margin: 0px auto;
}

.flog i {
    padding: 10px;
    background: linear-gradient(135deg, rgba(24, 24, 230, 0.908), rgba(245, 130, 245, 0.5));
    border-radius: 10px;
    margin-right: 2px;
}

.flog {
    font-size: 19px;
    color: white;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foosub1 .we {
    color: rgb(199, 196, 204);
    margin-top: 30px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foosub1di1 {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 10px;
}

.foosub1di1 p {
    padding: 6px 11px;
    border-radius: 50%;
    border: 1px solid rgb(96, 96, 103);
    height: 38px;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.foosub1di1 p:hover {
    box-shadow: 0 0 5px gray;
}

.foosub2 {
    width: 90%;
    margin: 10px auto;
}

.foosub2 p {
    padding-top: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foosub2 ul {
    padding-left: 0;
}

.foosub2 ul li {
    list-style: none;
}

.foosub2 ul li a {
    text-decoration: none;
    color: rgb(165, 187, 206);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foosub3 {
    width: 90%;
    margin: 0 auto;
}

.foosub3 p {
    color: white;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.foosub3 ul {
    padding-left: 0;
}

.foosub3 ul li {
    list-style: none;
}

.foosub3 ul li a {
    color: rgb(170, 198, 222);
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foosub4 {
    width: 90%;
    margin: 10px auto;
}

.foosub4 p:nth-child(1) {
    color: white;
    font-size: 19px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foosub4 p:nth-child(2) {
    color: rgb(170, 198, 222);
    text-transform: capitalize;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foosub4 p:nth-child(3) a {
    color: rgb(170, 198, 222);
    text-decoration: none;
    margin-top: 1px;
    font-family: 'Plus Jakarta Sans', sans-serif;

}

.foosub4 p:nth-child(4) i,
a {
    color: rgb(170, 198, 222);
    text-decoration: none;

}

.foodi2 {
    border-top: 1px solid rgb(128, 128, 143);
    padding-top: 20px;
    padding-bottom: 20px;
}

.foodi2sub1 {
    width: 90%;
    margin: 0 auto;
}

.foodi2sub1 .alcart {
    color: rgb(181, 203, 223);
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foodi2sub2 {
    display: flex;
    justify-content: space-between;
}

.foodi2sub2 p:nth-child(1) {
    color: rgb(168, 195, 218);
    width: 60%;
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.foodi2sub2 p:nth-child(2) {
    color: rgb(162, 187, 209);
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}



@media (min-width:576px) {

    .sect1 {
        height: 600px;
        padding-top: 80px;
        background-image: linear-gradient(to right, rgba(4, 4, 53, 0.853), rgba(79, 78, 79, 0.541)), url("https://images.unsplash.com/photo-1441986300917-64674bd600d8?auto=format&fit=crop&q=80&w=2000");
    }


    .sect1 h1 {
        width: 80%;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .sect1 .btn1 {
        margin-top: 25px;
        padding: 12px 15px;
    }

    .sect1 .btn2 {
        margin-top: 25px;
        padding: 12px 15px;
    }

    .sect2di2 {
        margin-top: 30px;
    }

    .sect2di1 p:nth-child(2) a {
        color: #2046c2;
    }

    .sect3di1 {
        padding-top: 50px;
    }

    .sect3di1 p:nth-child(1) {
        font-size: 16px;
    }

    .sect3di1 p:nth-child(2) {
        font-size: 30px;
    }

    .sect3di1 p:nth-child(3) {
        width: 18%;
    }

    .sect3di2 figure {
        margin-bottom: 40px;
        width: 100%;
    }

    .figsub1 {
        height: 350px;
    }

    .figsub2 {
        height: 350px;
    }

    .figsub3 {
        height: 350px;
    }

    .figsub4 {
        height: 350px;
    }

    .sect4di1 {
        width: 100%;
    }

    .sect4sub1 {
        width: 100%;
        height: 400px;
    }

    .sect4sub1 p:nth-child(1) {
        width: 25%;
        font-size: 18px;
    }

    .sect4sub1 h1 {
        font-size: 45px;
        width: 80%;
    }

    .sect4sub1 p:nth-child(3) {
        margin-top: 20px;
        font-size: 19px;
    }

    .sect4sub1 .seal {
        padding: 10px 14px;
        width: 35%;
        font-size: 18px;
        font-weight: 600;
        border-radius: 30px;
    }


    .sect4sub2 {
        width: 100%;
        height: 400px;
    }

    .sect4sub2 p:nth-child(1) {
        width: 45%;
        font-size: 18px;
    }

    .sect4sub2 h1 {
        font-size: 45px;
        width: 80%;
    }

    .sect4sub2 p:nth-child(3) {
        margin-top: 20px;
        font-size: 19px;
    }

    .sect4sub2 .join {
        padding: 10px 14px;
        width: 35%;
        font-size: 18px;
        font-weight: 600;
        border-radius: 30px;
    }

    .sect5di1 {
        width: 100%;
        border-radius: 30px;
    }

    .sect5di1 p:nth-child(2) {
        width: 75%;
        margin: 0 auto;
        color: rgb(177, 194, 208);
    }

    .sect5di1 input {
        width: 80%;
        padding: 12px 10px;
        font-size: 18px;
    }

    .sect5sub1 input {
        width: 80%;
        padding: 15px 10px;
        font-size: 18px;
    }

    .sect5sub1 .subscr {
        width: 80%;
        padding: 15px 10px;
    }

    .foodi2sub1 {
        width: 60%;
    }

}

@media (min-width:769px) {

    .sect1 p:nth-child(1) {
        font-size: 18px;
        width: 40%;
    }

    .sect1 h1 {
        font-size: 60px;
    }

    .sect1 p:nth-child(3) {
        width: 70%;
        font-size: 18px;
    }

    .sect1 .btn1 {
        font-size: 18px;
        border-radius: 30px;
        padding: 15px;
    }

    .sect1 .btn2 {
        font-size: 18px;
        border-radius: 30px;
        padding: 15px 20px;
    }

    .sect2di1 p:nth-child(2) {
        text-align: end;

    }

    .sect2sub1 {
        width: 24%;
    }

    .sect2sub2 {
        width: 24%;
    }

    .sect2sub3 {
        width: 24%;
        margin-top: 0;
    }

    .sect2sub4 {
        width: 24%;
        margin-top: 0;
    }

    .sect3di2 {
        display: flex;
        flex-wrap: wrap;
    }

    .sect3di2 figure {
        width: 45%;
    }

    .sect4di1 {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .sect4sub1 {
        width: 45%;
        height: 600px;
    }

    .sect4sub1 p:nth-child(1) {
        width: 40%;
    }

    .sect4sub1 .seal {
        width: 60%;
    }

    .sect4sub2 {
        width: 45%;
        height: 600px;
        margin-top: 0;
    }

    .sect4sub2 p:nth-child(1) {
        width: 80%;
        padding: 8px 5px;
    }

    .sect4sub2 .join {
        width: 60%;
    }

    .sect5sub1 {
        display: flex;
        width: 80%;
        margin: 20px auto;
    }

    .sect5sub1 input {
        width: 60%;
    }

    .sect5sub1 .subscr {
        width: 30%;
        margin-top: 10px;
        height: 60px;
        margin-left: 10px;

    }

    .foodi1 {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 10px auto;
    }

    .foosub1 {
        width: 50%;
        margin-top: 33px;
    }

    .foosub2 {
        width: 35%;
    }

    .foosub3 {
        width: 45%;
        margin-top: 20px;
    }

    .foosub4 {
        width: 45%;
        margin-top: 20px;
    }

    .foodi2sub1 {
        width: 95%;
        display: flex;
        margin: 0 auto;
    }

    .alcart {
        width: 55%;
    }

    .foodi2sub2 {
        width: 45%;
        justify-content: space-evenly;
    }

}

@media (min-width:1200px) {

    .alert {
        width: 25%;
        left: 35%;
    }

    .sect1{
        padding-top: 50px;
    }

    .sect1 p:nth-child(1) {
        width: 24%;
        padding-bottom: 0;
    }

    .sect1 h1 {
        font-size: 60px;
        width: 60%;
    }

    .sect1 p:nth-child(3) {
        width: 40%;
    }

    .sect2sub1 {
        height: 350px;
    }

    .sect2sub2 {
        height: 350px;
    }

    .sect2sub3 {
        height: 350px;
    }

    .sect2sub4 {
        height: 350px;
    }

    .sect3di2 figure {
        width: 24%;
    }

    .sect4sub1 {
        height: 420px;
    }

    .sect4sub1 p:nth-child(1) {
        width: 30%;
        padding: 5px 10px 5px 20px;
    }

    .sect4sub1 h1 {

        padding-top: 0;
    }

    .sect4sub2 {
        height: 420px;
    }

    .sect4sub2 p:nth-child(1) {
        width: 50%;
        padding: 5px 10px 10px 20px;
    }

    .sect4sub2 h1 {
        padding-top: 0;

    }

    .foosub1 {
        width: 30%;
    }

    .foosub2 {
        width: 16%;
    }

    .foosub3 {
        width: 20%;
        margin-top: 30px;
    }

    .foosub3 p {
        font-size: 20px;
    }

    .foosub4 {
        width: 23%;
        margin-top: 30px;
    }

    .foosub4 p:nth-child(1) {
        font-size: 22px;
    }

    .foodi2sub1 {
        width: 75%;

    }

}

@media (min-width:1400px) {


    .alert {
        width: 50%;
    }

    .sect5 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .sect5di1 {
        width: 90%;
    }

    .sect5sub1 {
        width: 60%;

    }

}