.main {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
}

.sub {
    width: 90%;
    margin: 50px auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;
}

.sub input {
    width: 100%;
    padding: 6px 5px;
}

.sub .btn1 {
    margin-top: 10px;
    padding: 9px 10px;
    text-transform: capitalize;
    border-radius: 8px;
    border: none;
    font-weight: 700;
}

.sub .btn1:hover {
    box-shadow: 0 0 4px black;
}

@media (min-width:576px) {



    .sub input {
        width: 100%;
        padding: 8px 5px;
    }

    .sub .btn1 {
        width: 30%;
    }

}

@media (min-width:769px) {

    .sub {
        width: 80%;
    }

    .sub input {
        padding: 10px 5px;
    }

    .sub .btn1 {
        padding: 10px 5px;
    }
}

@media (min-width:992px) {

    .sub {
        width: 70%;
    }

    .sub input {
        padding: 10px 5px;
    }

    .sub .btn1 {
        padding: 10px 5px;
    }
}

@media (min-width:1200px) {

    .sub {
        width: 60%;
        padding: 40px;
          margin-top: 20px;
    }

    .sub input {
        padding: 8px 5px;
    }

    .sub .btn1 {
        padding: 10px 5px;
        text-transform: capitalize;
        font-size: 17px;
    }
}

@media (min-width:1400px) {

    .sub {
        width: 60%;
        padding: 40px;
        margin-top: 0px;
    }

    .sub input {
        padding: 10px 5px;
    }

    .sub .btn1 {
        padding: 10px 5px;
        text-transform: capitalize;
        font-size: 17px;
    }
}