.main {
    width: 100%;
}

.btn1 {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 6px;
    padding: 5px 10px;
    font-weight: 600;
}

.sub {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.sub1 {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    color: rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(152, 150, 150);
    background-color: #FFFFFF;
    text-align: center;
}

.sub1 img {
    width: 100%;
    border-radius: 10px;
    height: 350px;
    margin-bottom: 10px;
}

.sub2 {
    display: flex;
    justify-content: space-around;
}


@media (min-width:576px) {
    .sub1 {
        width: 60%;
    }

    .sub1 img {
        height: 350px;
    }
}

@media (min-width:769px) {

    .sub {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .sub1 {
        width: 30%;
    }

    .sub1 img {
        height: 350px;
    }
}

@media (min-width:992px) {
    .sub1 {
        width: 23%;
    }
}

@media (min-width:1200px) {
    .sub1 {
        width: 23%;
    }
}


@media (min-width:1400px) {
    .sub1 {
        width: 23%;
    }
}